__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.env
.vscode/
.idea/
logs/
tmp/
*.log

# Virtual environment
.venv/

# Airflow specific
metastore_db/
airflow/logs/
airflow/simple_auth_manager_passwords.json.generated

# Downloaded data
/tmp/bhavcopy/

# Spark temporary files
spark-warehouse/sec_bhavdata/
*.parquet
*.crc

# Jupyter notebooks (if any)
.ipynb_checkpoints/

# OS specific
Thumbs.db