[Unit]
Description=Apache Airflow Standalone
After=network.target

[Service]
Type=simple
User=sandeep
WorkingDirectory=/media/sandeep/DataDrive/galactus
ExecStart=/media/sandeep/DataDrive/galactus/start_airflow.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target